<div class="form_class">
        <div>Origin: <%= params[:data] %></div>
        <div>Changed: <%= @result %></div>
        <%= button_to "Return", { :action => "index" }, :method => :get, :class => "btn btn_input" %>
</div>

