<div id="<%= dom_id item_list %>">
  <p>
    <strong>Название продукта:</strong>
    <%= item_list.prod_name %>
  </p>

  <p>
    <strong>Каллории:</strong>
    <%= item_list.mg %>
  </p>

  <p>
    <strong>Цена:</strong>
    <%= item_list.price %>
  </p>

</div>
