<h1>Editing item list</h1>

<%= render "form", item_list: @item_list %>

<br>

<div>
  <%= link_to "Show this item list", @item_list %> |
  <%= link_to "Back to item lists", item_lists_path %>
</div>
